<section id="hero" class="hero section">
  <img src="../../../assets/img/logo.gif" alt="Background Animation" />

  <div class="container">
    <h2 class="text-info">Welcome to EduApply</h2>
    <p class="text-secondary">Simplifying Your Path to College</p>
    <a href="#search" class="btn btn-outline-info rounded">Get Started</a>
  </div>
</section>

<section
  class="hero-section d-flex flex-column justify-content-center align-items-center text-center"
  id="search"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-12 mx-auto">
        <h1 class="text-dark fw-bold">Explore colleges on EduApply</h1>

        <!-- Search Bar -->
        <div class="search-bar mt-4 mb-3">
          <form
            [formGroup]="searchForm"
            (ngSubmit)="onSubmit()"
            class="input-group"
          >
            <span class="input-group-text bi-search"></span>
            <input
              name="keyword"
              type="search"
              class="form-control"
              placeholder="Enter college name"
              aria-label="Search"
              formControlName="keyword"
            />
            <!-- Optional submit button (hidden visually) -->
            <button type="submit" style="display: none">Submit</button>
          </form>
        </div>

        <!-- Filter Tags -->
        <div class="filters mb-4">
          <p class="mb-2">Search by filter (optional)</p>
          <div class="d-flex flex-wrap gap-2 justify-content-center btn-group">
            <!-- <button
              class="btn btn-outline-secondary"
              [ngClass]="{ 'selected': filters['acceptsFirstYear'] }"
              (click)="onFilterClick('acceptsFirstYear')"
            >
              Accepts first-year applications
            </button> -->
            <button
              class="btn btn-outline-secondary"
              [ngClass]="{ selected: filters['isPublic'] }"
              (click)="onFilterClick('isPublic')"
            >
              Public
            </button>
            <button
              class="btn btn-outline-secondary"
              [ngClass]="{ selected: filters['isPrivate'] }"
              (click)="onFilterClick('isPrivate')"
            >
              Private
            </button>
            <button
              class="btn btn-outline-secondary"
              [ngClass]="{ selected: filters['small'] }"
              (click)="onFilterClick('small')"
            >
              Small (2,000 and under)
            </button>
            <button
              class="btn btn-outline-secondary"
              [ngClass]="{ selected: filters['medium'] }"
              (click)="onFilterClick('medium')"
            >
              Medium (2,001 to 14,999)
            </button>
            <button
              class="btn btn-outline-secondary"
              [ngClass]="{ selected: filters['large'] }"
              (click)="onFilterClick('large')"
            >
              Large (15,000+)
            </button>
          </div>
        </div>

        <!-- Start Button -->
        <div class="start-button">
          <div class="start-button">
            <button class="btn btn-dark btn-lg" (click)="onSubmit()">
              Start
            </button>
            <a routerLink="/view-colleges" class="ms-3 text-dark"
              >Or view all colleges <i class="bi-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-recommended *ngIf="isLoggedIn()"></app-recommended>



<!-- <section class="featured-section">
  <div class="container">
      <div class="row justify-content-center">

          <div class="col-lg-4 col-12 mb-4 mb-lg-0">
              <div class="custom-block bg-white shadow-lg">
                  <a href="topics-detail.html">
                      <div class="d-flex">
                          <div>
                              <h5 class="mb-2">Web Design</h5>

                              <p class="mb-0">When you search for free CSS templates, you will notice that TemplateMo is one of the best websites.</p>
                          </div>

                          <span class="badge bg-design rounded-pill ms-auto">14</span>
                      </div>

                      <img src="../../assets/img/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="">
                  </a>
              </div>
          </div>

          <div class="col-lg-6 col-12">
              <div class="custom-block custom-block-overlay">
                  <div class="d-flex flex-column h-100">
                      <img src="../../assets/img/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt="">

                      <div class="custom-block-overlay-text d-flex">
                          <div>
                              <h5 class="text-white mb-2">Finance</h5>

                              <p class="text-white">Topic Listing Template includes homepage, listing page, detail page, and contact page. You can feel free to edit and adapt for your CMS requirements.</p>

                              <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                          </div>

                          <span class="badge bg-finance rounded-pill ms-auto">25</span>
                      </div>

                      <div class="social-share d-flex">
                          <p class="text-white me-4">Share:</p>

                          <ul class="social-icon">
                              <li class="social-icon-item">
                                  <a href="#" class="social-icon-link bi-twitter"></a>
                              </li>

                              <li class="social-icon-item">
                                  <a href="#" class="social-icon-link bi-facebook"></a>
                              </li>Designms-auto">
                          </ul>
                      </div>

                      <div class="section-overlay"></div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section> -->

<!-- <app-colleges></app-colleges> -->

<!-- <section class="timeline-section section-padding" id="section_3">
  <div class="section-overlay"></div>

  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-white mb-4">How does it work?</h2>
      </div>

      <div class="col-lg-10 col-12 mx-auto">
        <div class="timeline-container">
          <ul
            class="vertical-scrollable-timeline"
            id="vertical-scrollable-timeline"
          >
            <div class="list-progress">
              <div class="inner"></div>
            </div>
            <li>
              <h4 class="text-white mb-3">Account and Profile Setup</h4>

              <p class="text-white">
                Register and Setup your profile with personal details,
                academics, and extracurriculars.
              </p>

              <div class="icon-holder">
                <i class="bi bi-person-circle"></i>
              </div>
            </li>

            <li>
              <h4 class="text-white mb-3">Search Colleges and Programs</h4>

              <p class="text-white">
                Explore a wide range of colleges and programs tailored to your
                preferences.
              </p>

              <div class="icon-holder">
                <i class="bi-search"></i>
              </div>
            </li>

            <li>
              <h4 class="text-white mb-3">Manage and Submit application</h4>

              <p class="text-white">
                Select and Apply to your favorite colleges.
              </p>

              <div class="icon-holder">
                <i class="bi-book"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- 
<section class="faq-section section-padding" id="section_4">
  <div class="container">
    <div class="row">
      <h2 class="mb-4 text-center">Frequently Asked Questions</h2>
      <div class="col-lg-6 col-12">
      </div>

      <div class="clearfix"></div>

      <div class="col-lg-5 col-12">
        <img
          src="../../assets/img/faq_graphic.jpg"
          class="img-fluid"
          alt="FAQs"
        />
      </div>

      <div class="col-lg-6 col-12 m-auto">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                What is CAMS?
              </button>
            </h2>

            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                CAMS is a College and Management System that helps you search,
                compare, and apply to colleges effortlessly.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                How can I apply to a college?
              </button>
            </h2>

            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                After finding your preferred college, click on "Apply Now" and
                follow the on-screen instructions to submit your application.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Is CAMS free to use?
              </button>
            </h2>

            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Yes, CAMS is free for students to explore colleges and apply to
                programs.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="contact-section section-padding section-bg" id="section_5">
  <div class="container">
      <div class="row">

          <div class="col-lg-12 col-12 text-center">
              <h2 class="mb-5">Get in touch</h2>
          </div>

          <div class="col-lg-5 col-12 mb-4 mb-lg-0">
              <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2595.065641062665!2d-122.4230416990949!3d37.80335401520422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858127459fabad%3A0x808ba520e5e9edb7!2sFrancisco%20Park!5e1!3m2!1sen!2sth!4v1684340239744!5m2!1sen!2sth" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
              <h4 class="mb-3">Head office</h4>

              <p>Bay St &amp;, Larkin St, San Francisco, CA 94109, United States</p>

              <hr>

              <p class="d-flex align-items-center mb-1">
                  <span class="me-2">Phone</span>

                  <a href="tel: 305-240-9671" class="site-footer-link">
                      305-240-9671
                  </a>
              </p>

              <p class="d-flex align-items-center">
                  <span class="me-2">Email</span>

                  <a href="mailto:info@company.com" class="site-footer-link">
                      info&#64;company.com
                  </a>
              </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12 mx-auto">
              <h4 class="mb-3">Dubai office</h4>

              <p>Burj Park, Downtown Dubai, United Arab Emirates</p>

              <hr>

              <p class="d-flex align-items-center mb-1">
                  <span class="me-2">Phone</span>

                  <a href="tel: 110-220-3400" class="site-footer-link">
                      110-220-3400
                  </a>
              </p>

              <p class="d-flex align-items-center">
                  <span class="me-2">Email</span>

                  <a href="mailto:info@company.com" class="site-footer-link">
                      info&#64;company.com
                  </a>
              </p>
          </div>

      </div>
  </div>
</section> -->
