<div class="container-fluid d-flex justify-content-center align-items-center main-container">
  <div class="row main-content bg-info text-center">
    <div class="col-md-4 text-center company__info">
      <span class="company__logo">
        <img src="../../../assets/img/logo/logooo.png" alt="" />
      </span>
      <h4 class="company_title">EduApply</h4>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form">
      <div class="container-fluid">
        <div class="row mt-3">
          <h2>Log In</h2>
        </div>
        <div class="row">
          <form
            control=""
            class="form-group"
            [formGroup]="formStructure"
            (ngSubmit)="onSubmit()"
          >
            <div class="row">
              <input
                type="text"
                name="username"
                id="username"
                formControlName="email"
                class="form__input"
                placeholder="Username"
              />
            </div>
            <div class="row">
              <input
                type="password"
                formControlName="password"
                name="password"
                id="password"
                class="form__input"
                placeholder="Password"
              />
            </div>
            <div class="row">
              <input type="submit" value="Submit" class="btn" />
            </div>
          </form>
        </div>
        <div class="row">
          <p>
            Don't have an account?
            <a routerLink="/auth/register">Register Here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
